.Burger{
    /* border: 2px solid black; */
    width: 400px;
    margin: auto; 
    margin-top: 7%;
    height: 350px;
    overflow:auto;
    text-align: center;
    font-weight: bold;
    font-size: 1.2rem;
    /* display: flex; */
        /* flex-direction: column; */       
}
@media screen and (max-width:1200px) {
    .Burger{
        margin-bottom: 1%;
    }
}
@media screen and (max-width:1024px) {
    .Burger{
      
        margin-top: 11%;
    }
}
@media screen and (max-width:768px) {
    .Burger{
        width: px;

        margin-top: 12%;
    }
}
    @media screen and (max-width:660px) {
        .Burger{
           
            margin-top: 15%;
        }
    }
@media screen and (max-width:480px) {
    .Burger{
        width: 250px;
        margin-top: 31%;
    }
}